@if (box) {
    <h1 mat-dialog-title [style.background]="box.color">{{ gear }}</h1>
} @else {
    <h1 mat-dialog-title [style.background]="'#acb9ca'">{{ gear }}</h1>
}

<mat-dialog-content class="main-content">
    @for (event of events; track event; let index = $index) {
        <div class="event">
            <div class="icon">
                <i class="fas fa-dot-circle"></i>
            </div>
            <div class="content">
                <div class="time">{{ event.startDateTime | luxonDateFormat: 'HH:mm'}} - {{ event.endDateTime | luxonDateFormat: 'HH:mm'}}</div>
                <code class="venue">{{ event.venue }}</code>
                <div class="description">{{ event.description }}</div>
            </div>
        </div>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancelClicked()">Cancel</button>
</mat-dialog-actions>