h1
    font-size: 1.5em
.sticky-header
    background-color: #FFFFFF
    position: -webkit-sticky /* Safari */
    position: sticky
    top: 0
    z-index: 2
.header
    display: flex
    div[mat-icon-button]
        display: flex
        align-items: center
        justify-content: center
        width: 50px
        margin-right: 10px
button[mat-menu-item] i
    margin-right: 10px
    width: 25px
    text-align: center
.schedule-container
    display: flex
.datetime-col
    width: 50px !important
    font-size: 0.7em
.event-col
    width: calc(100% - 50px)
    overflow-x: scroll
    overflow-y: hidden
.event-scroll-wrapper
    position: relative

.filter-panel
    margin-bottom: 10px

.event-container
    flex-grow: 1
    display: flex
    flex-flow: column
    padding-left: 20px
.event-venue,
.event-duration
    font-size: 0.8em
    color: #555555
    i
        width: 16px
        text-align: center
        margin: 1px 5px
        font-size: 1em

.placeholder-tile
    border: 1px solid #eeeeee

.scroll-btn
    position: fixed
    bottom: 12px
    right: 12px