.schedule-container
    display: flex
.datetime-col
    width: 80px !important
    font-size: 0.7em
.event-col
    width: calc(100% - 80px)

.filter-panel
    margin-bottom: 10px

.event-container
    flex-grow: 1
    display: flex
    flex-flow: column
    padding-left: 20px
.event-venue,
.event-duration
    font-size: 0.8em
    color: #555555
    i
        margin-left: 5px
        margin-right: 5px