h1
    font-size: 1.5em
.sticky-header
    background-color: #FFFFFF
    position: -webkit-sticky /* Safari */
    position: sticky
    top: 0
    z-index: 2
.header
    display: flex
    div[mat-icon-button]
        display: flex
        align-items: center
        justify-content: center
        width: 50px
        margin-right: 10px
button[mat-menu-item] i
    margin-right: 10px
    width: 25px
    text-align: center

li
    height: 42px
    button[mat-stroked-button]
        margin: 0px 10px

.package-panel
    margin-bottom: 10px

.exit-btn
    position: fixed
    bottom: 12px
    right: 12px