<div class="sticky-header">
    <div class="header">
        <div mat-icon-button [matMenuTriggerFor]="menu">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <h1 (click)="triggerEditMode()">Gears</h1>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onMenuButtonClicked('schedule')">
            <i class="fas fa-calendar-alt"></i>
            <span>Schedule</span>
        </button>
        <button mat-menu-item (click)="onMenuButtonClicked('gears')">
            <i class="fas fa-box-open"></i>
            <span>Gears</span>
        </button>
        <!-- <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Decoration</span>
        </button> -->
    </mat-menu>
</div>


@for (box of boxes; track box) {
    <mat-expansion-panel class="package-panel" hideToggle [expanded]="isExpanded(box.id)">
        <mat-expansion-panel-header [style.background]="box.color">
            <mat-panel-title><strong>{{box.id}}</strong></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="filter-panel-container">
            <p>{{box.description}}</p>
            <ol>
                @for (item of box.items; track item) {
                    <li><button mat-stroked-button color="basic" (click)="editItem(item, box)">
                        <i class="fas fa-edit"></i>
                    </button>{{item}}</li>
                }
            </ol>
        </div>
    </mat-expansion-panel>
}

<mat-expansion-panel class="package-panel" hideToggle>
    <mat-expansion-panel-header [style.background]="'#acb9ca'">
        <mat-panel-title><strong>未分類物品</strong></mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filter-panel-container">
        <ol>
            @for (item of notPackedItems; track item) {
                <li>{{item}}<button mat-stroked-button color="basic" (click)="editItem(item, null)">
                    <i class="fas fa-edit"></i>
                </button></li>
            }
        </ol>
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="package-panel" hideToggle>
    <mat-expansion-panel-header [style.background]="'#000000'">
        <mat-panel-title [style.color]="'#ffffff'"><i class="far fa-trash-alt" [style.margin-right]="'5px'"></i><strong>資源回收筒</strong></mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filter-panel-container">
        <ol>
            @for (item of deletedItems; track item) {
            <li>{{item}}</li>
            }
        </ol>
    </div>
</mat-expansion-panel>

@if (editMode) {
<button mat-fab class="exit-btn" color="basic" (click)="exitEditMode()">
    <i class="fas fa-sign-out-alt"></i>
</button>
}