<h1 mat-dialog-title>{{data.description}}</h1>
<mat-dialog-content class="main-content">
    <p>Time: {{data.startDateTime | luxonDateFormat: 'd/L'}} {{data.startDateTime | luxonDateFormat: 'HH:mm'}} - {{ data.endDateTime | luxonDateFormat: 'HH:mm' }}</p>
    <p>Venue: {{data.venue }}</p>
    <p>Supplies:</p>
    <ul>
        @for (gear of data.gears; track gear) {
            @if (locateGear(gear).id == '--') {
                <li><span class="box-pill" [style.background]="locateGear(gear).color"><strong>{{locateGear(gear).id}}</strong></span>{{gear}}</li>
            } @else {
                <li><span class="box-pill" [style.background]="locateGear(gear).color" (click)="onBoxClicked(locateGear(gear).id)"><strong>{{locateGear(gear).id}}</strong></span>{{gear}}</li>
            }
        }
    </ul>
    <p>Participants:</p>
    <ul>
        @for (name of data.participants; track name) {
        <li>{{name}}</li>
        }
    </ul>
    <p>Remarks:</p>
    <p class="remarks">{{data.remarks}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>