<h1 mat-dialog-title>{{data.description}}</h1>
<mat-dialog-content class="main-content">
    <p>Time: {{data.startDateTime | luxonDateFormat: 'HH:mm'}} - {{ data.endDateTime | luxonDateFormat: 'HH:mm' }}</p>
    <p>Venue: {{data.venue }}</p>
    <p>Gears:</p>
    <ul>
        @for (gear of data.gears; track gear) {
            <li>{{gear}}</li>
        }
    </ul>
    <p>Participants:</p>
    <ul>
        @for (name of data.participants; track name) {
        <li>{{name}}</li>
        }
    </ul>
    <p>Remarks:</p>
    <ul>
        @for (line of data.remarks; track line) {
        <li>{{line}}</li>
        }
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>